<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a routerLink="/produto">
                    <span>Cadastro de Produto</span>
                </a>
            </li>
            <li class="treeview">
                <a routerLink="/pessoa">
                    <span>Cadastro de Pessoa</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>